*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7f7f7;
    position: relative;
}
.head{
    height: 10px;
    width: 100%;
    border:none ;
    background-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff);
}
.logo{
    position: relative;
    top: 80px;
    left: -50px;

}
.logo img{
    width: 144px;
    height: 40px;
}
.card{
    width: 480px;
    height: 550px;
    position: absolute;
   top: 180px;
   left: 530px;
   background-color: #fff;
   box-shadow: rgba(100, 100, 111, 0.2) ;

}
h1{
    position: relative;
    left: 32px;
    top: 40px;
    margin-bottom: 50px;
    color: #000000cc;
    font-size: 24px;
}
#in{
    display: flex;
    position: relative;
    left: 32px;
    width: 80%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid;

}
#user{
    display: flex;
    margin: 40px 32px 10px 32px;
    font-size: 16px;
    font-weight: 500;
}
#mail{
    display: flex;
    margin: 25px 32px 10px 32px;
    font-size: 16px;
    font-weight: 500;
}
#p1{
    margin: 25px 32px 10px 32px;
    font-size: 14px;
    color: #000000cc;
     width: 80%;
}
#password{
    display: flex;
    margin: 25px 32px 10px 32px;
    font-size: 20px;
    font-weight: 500;
    height: 18px;
    width: 66px;
}
#p2{
    margin: 0px 32px 10px 32px;
    font-size: 14px;
    color: #000000cc;
}
span{
    margin: 0px 32px 10px 32px;
    font-size: 15px;
    color: #000000cc;
    height: 40px;

}
input{
    position: relative;
    left:32px ;
    margin:20px 8px 0px 0px;
}
#in::placeholder{
    text-align: center;
}
#p4{
    position: absolute;
   top: 750px;
   left: 680px;
   text-transform: capitalize;
   font-size: 16px;
   color: #000000cc;
}
a{
    margin: 0px 0px 50px 48%;
    position: relative;
    top: 740px;
    color: #000000cc;
    padding-bottom: 100px;
    font-size: 16px;
}